select,
option,
input,
label {
  display: inline-block;
  margin: 10px;
}

label {
  display: flex;
  align-items: center;
}

option,
select {
  font-size: inherit;
}

input {
  padding: .25em;
}

input:not([type="range"]) {
  max-width: 100px;
}

select {
  max-width: 600px;
}
