body {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

#root {
  grid-column-start: 1;
}
#controls {
  grid-row-start: 1;
  grid-column-start: 3;
}
#instructions {
  grid-row-start: 2;
  grid-column-start: 3;

  font-size: 13px;
}
#instructions table {
  border: 1px;
  border-collapse: collapse;
  width: 100%;
}

#instructions th {
  border-bottom: 1px solid gray;
}
#instructions td,
#instructions th {
  padding: 5px 20px;
  text-align: left;
}
